    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
        <img class="img-fluid mb-5 d-block mx-auto" src="img/profile.png" alt="">
        <h1 class="text-uppercase mb-0">How To Build Your Own PC</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0" color="white;"><a href="#necessities" class="homepage_link"><a href="#getting_started" class="homepage_link">Getting Started</a> - PC Necessities</a> - <a href="#components" class="homepage_link">Components</a></h2>
      </div>
    </header>

        <!-- Getting Started Section -->
    <section id="getting_started">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Getting Started</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-sm-6 ml-auto">
            <p class="lead">Building your own PC sounds like a daunting task, but it's a relatively easy process! Understanding a few things beforehand, such as the different parts and what they do, will definitely make PC building an enjoyable actvity to do.</p>
          </div>
          <div class="col-sm-6 mr-auto">
            <p class="lead">This website was created to help build a PC for those with minimal computer hardware knowledge. We go over the basics of computer parts, understand the differences between similar components, and finally how it all goes together.</p>
          </div>
        </div>
        <p style="font-size: 24px;" align="center">
          <br>Ready? Let's Begin!</p>
      </div>
    </section>

    <!-- Necessities Section -->
    <section  class="bg-primary text-white mb-0" id="necessities">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">Necessities</h2>
        <hr class="star-light mb-5">
        <div>
            <p align="center" style="font-size: 20px;">Here's a few links to learn about the building blocks of a computer:</p>
            <div>
                
            </div>
        </div>
        
      </div>
    </section>



    <!-- Components Section -->
    <section class="text-center text-uppercase text-secondary mb-0"  id="components">
        <h2>Components</h2>
        <hr class="star-dark mb-5">
    </section>

