/* 

 Place all the styles related to the articles controller here.
 They will automatically be included in application.css.
 You can use Sass (SCSS) here: http://sass-lang.com/

 */


.modal {
  display: none;
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full weight */
  height: 100%; /* Full height */
  overflow: auto; /* Scrolling if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.5s
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body { padding: 2px 16px; }

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;

}

table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
}

table td, table th {
  padding: 10px;
  /*border-bottom: 1px solid #ddd;*/
}

th {
  text-align: center;
}